@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: GmarketSansLight;
}

body {
  background-color: #f7f7f7;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  width: 100%;
  height: 60px;
  margin: auto;
  border-bottom: 0.2px solid #b4b4b4;
  background-color: white;
}
header .header-box {
  display: flex;
  width: 70%;
  margin: auto;
  align-items: center;
}
header .header-box img {
  width: 30%;
}
header .header-box .header-btn {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
header .header-box .header-btn .home {
  color: black;
  text-decoration: none;
}
header .header-box .header-btn .home:hover {
  color: rgb(120, 120, 120);
}

big {
  font-family: GmarketSansBold;
}

b {
  font-family: GmarketSansMedium;
}

.booking-list {
  padding: 1.5%;
  width: 70%;
  height: 100%;
  margin: auto;
  justify-content: center;
}
.booking-list .type-box {
  display: flex;
  justify-content: flex-end;
  border: none;
}
.booking-list .type-box .booking-type {
  background: rgb(0, 0, 0);
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 40px;
  cursor: pointer;
  background: url("https://cdn.iconscout.com/icon/free/png-256/keyboard-down-arrow-1780093-1518654.png") calc(100% - 5px) center no-repeat;
  background-size: 25%;
  outline: none;
  border: 0.1px solid black;
  border-radius: 3px;
  margin-bottom: 30px;
  padding: 1%;
}
.booking-list .item-info {
  display: block;
  width: 100%;
}
.booking-list .item-info .info-box {
  display: flex;
  justify-content: center;
}
.booking-list .item-info .info-box img {
  width: 50%;
}
.booking-list .item-info .info-box section {
  width: 50%;
}
.booking-list .list-parent {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.booking-list .list-parent .lists {
  float: left;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
  border-radius: 15px;
  height: 200px;
  padding: 20px;
  justify-content: center;
  transition: 0.3s;
}
.booking-list .list-parent .lists:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px 0px;
}
.booking-list .list-parent .lists .list-icon {
  display: inline;
}
.booking-list .list-parent .lists .list-item {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.booking-list .list-parent .lists .list-item svg {
  margin-right: 7px;
}
.booking-list .list-parent .lists .list-title {
  font-size: 27px;
}

@media all and (max-width: 985px) {
  .booking-list .list-parent {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 650px) {
  .booking-list .list-parent {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=App.css.map */
