@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: GmarketSansLight;
}

body {
    background-color: #f7f7f7;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    width: 100%;
    height: 60px;
    margin: auto;
    border-bottom: 0.2px solid #b4b4b4;
    background-color: white;
    .header-box {
        display: flex;
        width: 70%;
        margin: auto;
        align-items: center;
        img {
            width: 30%;
        }
        .header-btn {
            display: flex;
            justify-content: flex-end;
            margin-left: auto;
            .home {
                color: black;
                text-decoration: none;
                &:hover {
                    color: rgb(120, 120, 120);
                }
            }
        }
    }
}

big {
    font-family: GmarketSansBold;
}

b {
    font-family: GmarketSansMedium;
}

.booking-list {
    // display: grid;
    padding: 1.5%;
    width: 70%;
    height: 100%;
    margin: auto;
    justify-content: center;
    .type-box {
        display: flex;
        justify-content: flex-end;
        border: none;
        .booking-type {
            background: rgb(0 0 0);
            -o-appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 100px;
            height: 40px;
            cursor: pointer;
            background: url('https://cdn.iconscout.com/icon/free/png-256/keyboard-down-arrow-1780093-1518654.png') calc(100% - 5px) center no-repeat;
            background-size: 25%;
            outline: none;
            border: 0.1px solid black;
            border-radius: 3px;
            margin-bottom: 30px;
            padding: 1%;
        }
    }
    .item-info {
        width: 100%;
        height: 400px;
        .back {
            display: block;
            width: 10%;
            display: flex;
            transition: 0.2s;
            cursor: pointer;
            svg {
                width: 25px;
                cursor: pointer;
            }
            button {
                cursor: pointer;
                border: none;
                background-color: #f7f7f7;
                font-family: GmarketSansMedium;
            }
            &:hover {
                cursor: pointer;
                transition: 0.2s;
                transform: translateX(-5px);
            }
        }
        .info-box {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1.4rem;
            margin-top: 10px;
            img {
                height: 400px;
                object-fit:fill;
                width: 100%;
            }
            section {
                background-color: white;
                border: 0.3px solid #afafaf;
                padding: 50px;
                .info-item {
                    display: flex;
                    height: 30px;
                    margin-top: 10px;
                    align-items: center;
                    span {
                        margin-left: 5px;
                    }
                }
                .info-title {
                    font-size: 25px;
                }
                .info-btn {
                    border: none;
                    background: linear-gradient(270deg, #3771E1 0%, #B2CCFF 100%);
                    border-radius: 5px;
                    width: 100%;
                    color: white;
                    font-family: GmarketSansBold;
                    height: 50px;
                    justify-content: center;
                    &:hover {
                        cursor: pointer;
                        color: #b4b4b4;
                    }
                }
                .info-team {
                    width: 100%;
                    margin-top: 5px;
                    padding-left: 5%;
                    span {
                        height: 20px;
                        color: black;
                        margin-right: 5px;
                        font-size: 15px;
                        font-family: GmarketSansMedium;
                    }
                    .team0 {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        flex-wrap: wrap;
                    }
                    .team1 {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        flex-wrap: wrap;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    .list-parent {
        display: grid;
        place-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        .lists {
            float: left;
            background: #FFFFFF;
            box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
            border-radius: 15px;
            height: 200px;
            padding: 20px;
            justify-content: center;
            transition: 0.3s;
            &:hover {
                cursor: pointer;
                transform:translateY(-10px);
                transition: 0.3s;
                box-shadow: rgb(0 0 0 / 10%) 0px 4px 16px 0px;
            }
            .list-item {
                display: flex;
                align-items: center;
                height: 25px;
                line-height: 25px;
                margin-top: 15px;
                svg {
                    margin-right: 7px;
                }
            }
            .list-title {
                font-size: 27px;
            }
        }
    }
}


@media all and (max-width: 990px){
    .booking-list{
        .list-parent {
            grid-template-columns: 1fr 1fr;
        }
        .item-info {
            .info-box {
                grid-template-columns: 1fr;
            }
        }
    }
}

@media all and (max-width: 650px){
    .booking-list{
        .list-parent {
            grid-template-columns: 1fr;
        }
        .item-info {
            .info-box {
                grid-template-columns: 1fr;
                section {
                    .info-team {
                        display: none;
                    }
                }
            }
        }
    }
}